main {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    font-size: 16px;
    margin-bottom: 8vw;
}

.textContent {
    width: 70%;
}

.enlace {
    width: 30%;
    height: auto;
}

.enlace nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;

    align-content: center;
}



p {
    color: white;
    overflow: hidden;
}
h2 {
    color: blue;
    font-size: 32px;
    overflow: hidden;
}

button:hover {
    transform: scale(1.1,1.2);
}


@media screen and (max-width: 800px) {
    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
    }

    .textContent {
        width: 100%;
        padding: 1.5rem;
    }

    .enlace {
        width: 100%;
    }

    .enlace nav {
        flex-flow: row wrap;
    }
}

@media screen and (max-width: 400px) {
    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column-reverse wrap;
    }

    .textContent {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        overflow: auto;
        margin-bottom: 7vw;
        font-size: 4vw;
    }

    .enlace {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }
    
    .enlace nav {
        width: 100%;
        margin: 0;
        padding: 0;
        flex-flow: column wrap;
        align-items: center;
    }

    button {
        width: 100vw;
        height: 2rem;
        padding: 0;
        margin: 1vw;
        border-radius: initial;
        background-color: green;
        color: indigo;
        align-content: center;
        outline: 0;
    }
    
    h2 {
        font-size: 1rem;
    }
    
}



/*************************************************************************************************************************************/
/* ************************** response para movil******************************************************************* */

