main {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
}

.ejecutar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 200px 150px;
    justify-content: center;
    align-items: baseline;
    align-content: center; 
    padding: 1rem;
    overflow: hidden;
}

.sudoku {
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.publicidad {
    height: 100%;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 1rem;
}

.publicidad figure {
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: 100%;
}


.content-grid {
    padding: .5rem;
    padding-bottom: 0;
    background-image: url("https://placeimg.com/200/200/any") ;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
    display: grid;
    width: 100%;
    height: 100%;
}

.grids {
    display: flex;
    border: .5px solid red;
    justify-content: space-evenly;
    align-items: center;
}
#empezarDificultad {
    background-color: var(--second-modal-color);
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: blue;    
    font-size: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}

.ejecutar-form {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    align-self: center;
}

.bottons {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    align-self: center;

}

.count {
    overflow: hidden;
    color: orangered;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.count p {
    color: white;
    font-size: 1rem;
}
.count-p1 {
    color: blue;
    margin-bottom: 2vw;
}

.bottons button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: green;
}

input[type="submit"] {
    width: max-content;
}

input[type="text"] {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    outline-style: none;
    border: none;
}

.grids input {
    width: 100%;
    height: 100%;
    font-size: 2rem;
}


@media screen and (max-width: 850px) {
    main {
        display: grid;
        height: auto;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 500px 200px;
    }

    .publicidad {
        margin: 1rem;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

}

@media screen and (max-width: 650px) {
    main {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 400px 200px;
    }

    .ejecutar {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    
    .sudoku {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        /* background-image: url("https://placeimg.com/200/200/any") ;
        background-repeat: no-repeat;
        background-size: contain; */
    }

    /* img {
        width: 100%;
        height: 100%;
    } */
    .content-grid {
        width: 100%;
        height: 100%;
        /* overflow: hidden; */
    }

    .publicidad {

        grid-column: 1 / -1;
        grid-row: 4 / -1;
    }

}

@media screen and (max-width: 500px) {

    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto 500px 200px;
    }
    .ejecutar {
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-row: auto auto;
    }
    .count {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 1fr ifr;
        grid-template-rows: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        align-content: stretch; 
    }

    .count-h2 {
        padding: 0;
        margin: 0;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }
    p {
        font-size: 3vw;
        padding: 0;
        margin: 0;
        width: 100%;
        overflow: hidden;
    }

    .count-p1 {
        overflow: hidden;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: .5rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    .count-p2 {
        overflow: hidden;
        padding: 1.5vw;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding-top: 0;
        padding-bottom: 0;
    }
    .content-grid {
        margin: 1rem;
        width: initial;
    }
    .grids input {
        width: 100%;
        font-size: 1rem;
    }

}

@media screen and (max-width: 380px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto 400px 200px;
    }

    .content-grid {
        width: inherit;
        height: inherit;
        overflow: hidden;
        margin: 0;
        background-size: contain;
    }
    .sudoku {
        grid-row: 2 / 3;
    }

    .bottons button {
        width: 100px;
        height: 30px;
        font-size: 3vw;
    }
    
    .publicidad {
        grid-row: 3 / -1;
        margin: 0;
        padding: 0;
    }
    .grids {
        min-height: 2rem;
        font-size: .7rem;
    }
    .grids input {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        overflow: visible;
    }
}


@media screen and (max-width: 800px) and (max-height: 420px) {
    .content-grid{
        width: auto;
        height: 400px;
        margin: 1rem;
        overflow: hidden;
    }
}

@media screen and (max-width: 670px) and (max-height: 380px) {
    main {
        grid-template-rows: auto auto;
    }
    .content-grid{
        width: auto;
        height: auto;
        padding-top: 1rem;
        margin: 1rem;
    }
    .grids {
        min-height: 2rem;
    }
    .grids input {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        overflow: visible;
    }
}


@media screen and (max-width: 570px) and (max-height: 330px) {
    .sudoku {
        overflow: hidden;
        width: 500px;
        height: auto;
        display: grid;
        justify-content: center;
        align-content: center;
        /* align-items: center; */

    }

    

    .content-grid{
        overflow: hidden;
        width: 400px;
        height: auto;
        padding-top: 1rem;
        overflow: hidden;
    }

    .grids input {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        overflow: visible;
    }
}