body {
    display: flex;
    font-size: 16px;
    flex-flow: row wrap;
    /* width: 1024px; */
    width: 100%;
    height: auto;
    border: 2px solid crimson; 

    /* background-color: #000;  */
      
}


.header{
    /* flex-grow: 2; */
    display: flex;
    flex-basis: 15vh;
    flex-flow: row wrap;
    flex: 1 1 500px;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid blue;
    background: yellow;    
    overflow: hidden;
}

.header-nav {
    flex-grow: 2;
    display: flex;
    flex-flow: row wrap;
    width: 200px;
    border: 1px solid forestgreen;   
    align-content: center;
    justify-content: space-evenly;
    flex-shrink: 1;
}
h1 {
    border: 1px solid blueviolet; 
    text-align: center; 
    font-size: 2rem;
    color: white;
    width: 500px;
    flex-grow: 3;
}

main {
    width: 100%;
    height: 80vh;
    display: flex;

    border: 1px solid red;    

}

footer {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-flow: row wrap;
    
}

.nav-footer {
    width: 100%; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid blue;
    overflow: hidden;
    flex: 1 1 600px;
}

@media screen and (max-width: 500px) {
    .nav-footer {
        flex-flow: column wrap;
    }

}

@media screen and (max-width: 300px) {
    .nav-footer {
        flex-flow: column wrap;
    }

    h1 {
        font-size: 1rem;
        color: #000;
    }

}
       















/**************************************************************************************************************************************/
/******************  estilos para la informacion y los contactos **************************************************************************/
.info {
    position: fixed;
    z-index: 900;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
    
    /* opacity: 0;*/
    /* visibility: hidden; */
    /*para que funcione tiene que desactiva las transform de direcciion
     y actvar el opacity del hover active y visibility: visible; */
    border: 1px solid red;
    transition: transform 0.3s ease;
    
    /* para que salga de arriba */
    transform: translate(0,-100%);
    
    /* para que salga de abajo */
    /* transform: translate(0,100%); */
    
    /* para que salga de la derecha */
    /* transform: translate(100%,0); */
    
    /* para que aslga de la izquierda */
    /* transform: translate(-100%,0); */
}

.info-acerca,
.info-descrip {
    position: fixed;
    z-index: 920;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: burlywood;
    font-size: 3vw;  
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 2rem;
    color: #000;
}
.info h2 {
    text-align: center;
    color: royalblue;
    padding: 0;
    margin: 0;
}

dl {
    display: flex;
    flex-flow: column wrap;
    width: inherit;
    height: 80vh;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    
    
}

dt {
    color: red;
    /* text-align: initial; */
    /* padding: 2vw; */
    font-size: 2rem;
}

dd {
    color: #000;
    text-align: center;
    /* padding: 3vw; */
    font-size: 1.8rem;
}

.info-contact {
    width: inherit;
    height: inherit;
    position: fixed;
    z-index: 920;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: burlywood;
    font-size: 3vw;
    /* display: flex;
    flex-direction: column; */
    padding: auto;
}

.info-btn {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 940;
}

.none {
    display: none;
}



.info.is-active {
    transform: translate(0,0);
}

a {
    color: red;
    text-decoration: none;
}